
{% extends 'base.html.twig' %}
{% block title 'Tous les meals' %}

{% block body %}

    <div    class="container mt-4">


        <h1>Création d'un nouveau compte client</h1>

        {{  include ('user/_form.html.twig' ,{button:'Créer'})}}
    </div>

{% endblock %}